@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.logo{
    margin-top: 32.88px;
}

hr{
    display: none;
}

.m-hr{
    margin: 40px 0;
}

.d-flex{
    display: flex;
}

.main_text{
    margin-top: 79.55px;
}

button{
    border: none;
    background-color: transparent;
}

.main_text h1{
    font-size: 125px;
    line-height: 90%;
    font-weight: 600;
}

.group_sociais{
    margin-top: 100.42px;
    margin-bottom: 83.89px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.group_sociais a .d-none{
    display: none;
}

.group_sociais a:hover svg{
    display: none;
}

.group_sociais a:hover svg.d-none{
    display: inherit;
}

.group-text-content{
    margin-left: 106.26px;
}

.group-text-content h2{
    font-size: 28px;
    margin-bottom: 16px;
}

.group__text{
    margin-top: 16px;
    margin-bottom: 36px;
    font-family: 'Roboto', sans-serif;
}

.content_text img{
    transform: rotate(-21.59deg);
    margin-bottom: 15.04px;
}

.group-text-content .group__text{
    width: 282px;
    font-size: 16px;
    line-height: 150%;
    Vertical-align: Top;
}

footer{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

footer.mb{
    margin-bottom: 47.6px;
    justify-content: space-between;
}

.mobile{
    display: none;
}

.visited{
    font-family: 'Roboto', sans-serif !important;
}

.hover-d-none{
    display: none;
}

@media screen and (min-width: 800px){
    .visited a{
        position: relative;
        border: 4px solid transparent;
        border-radius: 5px;
        background-color: transparent;
        background-clip: padding-box;
        padding: 12px 83px;
        font-weight: 700;
        text-align: center;
        font-size: 16px;
        -webkit-text-fill-color: #000;
        color: #000;
    }
    
    .visited a::after{
        position: absolute;
        top: -4px; bottom: -4px;
        left: -4px; right: -4px;
        background: linear-gradient(90deg, #7CFF01 -15.5%, #01FFF4 100%);
        content: '';
        z-index: -1;
        border-radius: 5px;
        -webkit-text-fill-color: #000;
        color: #000;
    }
    .visited a:hover{
        background-color: #000;
    }
    .visited a:hover .hover-d-none{
        display: inherit;
    }
    .visited a:hover .hover{
        display: none;
    }
    
}

@media screen and (max-width: 800px){
    svg.title-group-content{width: 283px;}
    .m-hr{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    hr{
        display: block;
        width: 227px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .d-flex{flex-direction: column;}
    .main_text h1{
        font-weight: 600;
        font-size: 64px;
        line-height: 100%;
        text-align: center;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .desk{display: none;}

    .arara{display: none;}

    .group-text-content{
        margin: 0;
        text-align: center;
    }  
    .group-text-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer{
        flex-direction: column-reverse !important;
        align-items: center;
        text-align: center;
        font-size: 0;
    }
    footer span{font-size: 14px;}
    .title{background-image: url(../content/img/Vector.svg)}
    .group_sociais{margin: 0;}
    .group__text{margin-top: 24px;}
    
    .visited a{
        padding: 12px 79.4px;
        background: linear-gradient(90deg, #7CFF01 -30.5%, #01FFF4 76.73%);
        border-radius: 5px;
        color: black;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
    }
    footer.container .data{
        margin: 32px 0;
    }
    footer.mb p:first-child{
        display: flex;
        flex-direction: column;
    }
}